body {background-image:url(../images/skullface.jpg);}
div.logo {background-color:black;margin:0 auto 30px auto;padding:0 auto;text-align:center;box-shadow:0 0 20px 5px blue inset;display:none;}
div.nav {background:black url(../images/flame.gif);text-align:center;border:2px solid black;padding-top:2px;padding-bottom:2px;margin-left:auto;margin-right:auto;box-shadow:0 0 20px 5px red;display:none;}
div.mininav {background:black url(../images/flame.gif);text-align:center;border;2px solid black;margin-left:auto;margin-right:auto;box-shadow:0 0 20px 5px orange;display:none;}
ul.links>li {display:inline;}
ul.links>li a {font-size:25px;text-transform:uppercase;color:white;text-decoration:none;margin:0 20px;}
ul.morelinks>li {display:inline;}
ul.morelinks>li a {font-size:25px;text-transform:uppercase;color:white;text-decoration:none;margin:0 20px;}
div.container {position:relative;display:none;}
div.sidebar1 {position:absolute;top:0;bottom:0;left:0;width:7%;background-image:url(../images/side.jpg);box-shadow:0 0 20px 5px #0B3B0B inset;border:2px solid #2E3B0B;}
div.sidebar2 {position:absolute;top:0;bottom:0;right:0;width:7%;background-image:url(../images/side.jpg);box-shadow:0 0 20px 5px #0B3B0B inset;border:2px solid #2E3B0B;}
div.resume {left:0;right:0;background-color:rgba(0,0,0,0.5);width:80%;margin:50px auto 0 auto;overflow:hidden;}
div.resume h1 {color:#AEB404;font-family:Comic Sans MS,Tahoma,Arial;font-size:300%;}
div.resume h2 {margin-left:5%;color:#04B404;font-family:Tahoma,Arial;font-size:200%;}
div.resume h3 {margin-left:8%;color:white;font-family:Tahoma,Arial;font-size:100%;}
div.resume ul>li {color:white;font-family:Georgia,Tahoma,Arial;margin-left:8%;}
div.image {float:left;}
div.texttop {float:left;width:45%;}
div.textbottom {float:right;width:50%;}
div.top{position:relative;left:0;right:0;margin:0 auto;text-align:center;background-color:rgba(0,0,0,0.5);width:80%;display:none;}
a.top:link{color:green;text-decoration:none;font-family:Arial;}
a.top:visited{color:green;text-decoration:none;}
a.top:hover{color:white;text-decoration:underline;}